body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 2rem;
    background-color:fuchsia;
    display: flex;
    justify-content: center;
}